# Audio processing
sounddevice
numpy

# Wake word detection
onnxruntime
# TensorFlow (for macOS)
tensorflow-macos
# TensorFlow dependencies for non-Mac systems
# Uncomment the next line if you are not on macOS
# tensorflow 
openwakeword==0.6.0
pyaudio

# PyTorch (NOT pytorch!)
torch
torchaudio

# Speech recognition  
vosk
silero-vad

# Audio analysis
librosa
scipy

# NLP
transformers

# Text-to-Speech
# https://github.com/coqui-ai/TTS/tree/dev#installation
# pip install TTS
TTS
